.basket-part {
    padding-top: 8rem;
}

table img {
    border-radius: 5px;
    width: 6rem;
}

table input {
    width: 3rem;
    border-radius: 5px!important;
}

.off-input {
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    width: 24rem;
}